@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fundoCor1: #74cdc3;
    --fundoCor2: #ffffff;
    --fundoCor3: #162535;

    --fontCor1: #ffffff;
    --fontCor2: #162535;
    --fontCor3: #b1b6bc;
    --fontCor4: #74cdc3;
    --fontCor5: #c75252;

    --font: 'Montserrat', sans-serif;
}

* {
    margin: 0px auto;
    padding: 0px;
    font-family: var(--font);
}

.width {
    max-width: 1000px;
}

header {
    background-color: var(--fundoCor1);
}

.titulo {
    display: block;
    padding: 25px 45px;
}

.logo {
    display: inline-block;
}

.logo img {
    width: 140px;
    height: 25px;
}

.menu {
    display: inline-block;
    float: right;
    padding: 4px 0px;
    /*Centralizar altura do menu*/
}

.menu a {
    padding: 10px 25px;
    font-weight: bold;
    text-decoration: none;
    color: var(--fontCor1);
}

.menu a:hover {
    background-color: #162535;
    border-radius: 20px;
    color: var(--fontCor1);
}

main .div01 {
    height: 90vh;
    background-image: url("../imagens/redShape1.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 73%;
    background-size: 600px;
}

main .celular {
    position: absolute;
    left: 64%;
    top: 25%;
    z-index: 4;
}

main .celular img {
    width: 245px;
    height: 485px;
}

main .box {
    position: absolute;
    background-color: white;
    box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.288);
    border-radius: 20px;
    padding: 40px 30px;
    width: 256px;
    left: -90%;
    top: 49%;
    z-index: 5;
}

main .textP {
    position: absolute;
    width: 400px;
    left: 20%;
    top: 25%;
    z-index: 6;
}

.textP h1 {
    font-size: 4em;
    margin: 20px 0px;
}

.textP p {
    font-size: 1.4em;
}

.dowload input {
    background-color: var(--fundoCor1);
    font-size: 1em;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 20px;
}