/*@media only screen and (max-width: 820px){
    .div01{
        background-color: #162535;
    }
}*/


@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fundoCor1: #74cdc3;
    --fundoCor2: #ffffff;
    --fundoCor3: #162535;

    --fontCor1: #ffffff;
    --fontCor2: #162535;
    --fontCor3: #b1b6bc;
    --fontCor4: #74cdc3;
    --fontCor5: #c75252;

    --font: 'Montserrat', sans-serif;
}

* {
    margin: 0px auto;
    padding: 0px;
    font-family: var(--font);
    list-style: none;
}
/*Tamanho maximo para ocupar o conteudo na tela*/
.width {
    max-width: 1000px;
}

/*HEADER*//*HEADER*/
header{
    background-color: var(--fundoCor1);
}
.titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.titulo img {
    width: 120px;
    margin-top: 4px; /*Centralizar logo*/
}

.titulo .menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0px;
}

.menu a {
    text-decoration: none;
    color: var(--fontCor1);
    font-weight: bold;
    padding: 5px 20px;
    margin: 0px 1px;
}

.menu a:hover {
    background-color: #162535;
    border-radius: 20px;
}

/*MAIN DIV PRINCIPAL*/
main .background1{
    display: block;
    max-width: 1000px;
    background-image: url("../imagens/redShape1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60%;
}
.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
}
.textd1 {
    display: block;
    max-width: 50%;
}

.textd1 h1 {
    font-size: 3.5em;
    padding: 20px 0px;
}

.textd1 p {
    font-size: 1.4em;
}

.celular {
    display: flex-box;
    position: relative;
}

.celular img {
    max-width: 80%;
}

.box {
    position: absolute;
    background-color: white;
    box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.288);
    border-radius: 20px;
    padding: 40px 25px;
    width: 200px;
    transform: translate(0,-50%);
    top: 50%;
    right: 35%;
}

.dowload input {
    background-color: var(--fundoCor1);
    font-size: 1em;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 20px;
    border: 1px solid var(--fundoCor1);
}
.dowload input:hover{
    background-color: var(--fundoCor3);
    border: 1px solid var(--fundoCor1);
    cursor: pointer;
}

/*MAIN SEGUNDA DIV*/
.div02 {
    background-color: var(--fundoCor3);
    color: var(--fontCor1);
    text-align: center;
    padding: 0px 5%;
}

.textd2 h1 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.textd2 p {
    max-width: 500px;
    padding-bottom: 40px;
}

.galeriaApp {
    display: flex;
    flex-wrap: wrap;
}

.galeriaApp img {
    max-width: 200px;
    padding: 10px;
}

.galeriaApp span h3 {
    max-width: 200px;
    color: var(--fontCor4);
    padding: 10px 0px;
}

.galeriaApp span p {
    max-width: 200px;
    padding-bottom: 20px;
}

.shopNow input {
    background-color: var(--fundoCor1);
    font-size: max(15px, 1vw);
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 20px;
    margin-bottom: 100px;
    border: 1px solid var(--fundoCor1);
}
.shopNow input:hover{
    background-color: var(--fundoCor3);
    border: 1px solid var(--fundoCor1);
    cursor: pointer;
}